* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
a {
    color: royalblue;
    text-decoration: none;
}
button {
    display: inline-block;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 5px;
    padding: 2px 10px;
    font-size: 100%;
    border: 0;
    cursor: pointer;
}
button:hover {
    background-color: aqua;
}
.hidden {
    display: none;
}
.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}
.scores {
    position: absolute;
    top: 10px;
    left: 15px;
  }
.timer {
    position: absolute;
    top: 10px;
    right: 15px
}
.start {
    text-align: center;
}